<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Practicas con Vuejs</title>
</head>
<body>
 <h1>Aprendiendo Vuejs</h1>

    <div id = "app">
      <span v-bind:title="message">
        <p>{{saludar}}</p>
        <p>{{numero}}</p> 
       
        <p>{{activo}}</p>
    
       <h2>======= Directivas Vue=========/h2>
       <h3>Los v-show </h3>
       <p v-show = "activo" >Texto solo activo = True</p>
       <p v-show = "numero = 10" >Si numero es igual a 10 = True</p>
       <h3> Los v-if condicional </h3>
       <p v-if="activo === true">Se muestra si es true</p>
       <p v-else>No es activo</p>
       <h3> Los v-for para sentencias repetitivas </h3>
       <ul>
        <li v-for="numero in lista">Numero: {{numero}}</li>
        <li v-for="n in 15" :key="n"> Numero: {{n}}</li>
       </ul>
       </span>
    </div>

       
  
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="practica.js"></script>
</body>
</html>

